# list

In [ ]:
fruits = ["apple","mango","grapes","banana","weatermelon",125,12.55, ]
print(fruits)
print(fruits[2])
#to replace a value 
fruits[4]="papaya"
print(fruits)
fruits.insert(3,"leechi")
print(fruits)
# fruits.clear()
for fruit in fruits:
    print(fruit)

['apple', 'mango', 'grapes', 'banana', 'weatermelon', 125, 12.55]
grapes
['apple', 'mango', 'grapes', 'banana', 'papaya', 125, 12.55]
['apple', 'mango', 'grapes', 'leechi', 'banana', 'papaya', 125, 12.55]
apple
mango
grapes
leechi
banana
papaya
125
12.55

# dictionary

### key:value pairs

In [21]:
cars ={
    "brand":"suzuki",
    "model":"swift",
    "years":2015,
    "color":"blue"
}
cars["model"]="cmkles"# update a value
cars["color"]="yellow"
del cars['years']
print(cars)
print(cars.get("model"))

{'brand': 'suzuki', 'model': 'cmkles', 'color': 'yellow'}
cmkles

# tuple

In [23]:
tuple = ("apple","banana","mango")
print(type(tuple))
print(tuple)

<class 'tuple'>
('apple', 'banana', 'mango')

# dictionary

--keys are unique 
--values can be duplicate
--keys can be of immutable type(str tuple constant)

In [7]:
product1 = {
    'brand' :'apple',
    'name' : 'iphone 16',
    'price' : 150000
    }
print(product1['brand'])
print(product1['name'])
# print(product1['ram']) it give key error
print(product1.get('ram')) #none
print(product1.get('ram','not found'))# default value added
print(product1.get('price','not found')) #default value will not be displayes

apple
iphone 16
None
not found
150000

In [8]:
kharche = {
    'sabji' : 250,
    'dawai' : 1250,
    'phal' : 100,
    'phone ke kharche' : 483,
}
#traversal (loop)
for k,v in kharche.items():
    print(f"{k} ka kharcha {v} rupay")

sabji ka kharcha 250 rupay
dawai ka kharcha 1250 rupay
phal ka kharcha 100 rupay
phone ke kharche ka kharcha 483 rupay

# function

import math
value of p and b
h=math.sqrt(p**2+ b**2)
print(h)

In [14]:
#function uses for some value
import math
p,b =12,13
h=math.sqrt(p**2+ b**2)
print(h)

p,b =4,5
h=math.sqrt(p**2+ b**2)
print(h)

p,b =5,15
h=math.sqrt(p**2+ b**2)
print(h)

p,b =6,19
h=math.sqrt(p**2+ b**2)
print(h)

17.69180601295413
6.4031242374328485
15.811388300841896
19.924858845171276

In [16]:
#function uses for more values
def hyp(p,b):
    ans = math.sqrt(p**2 + b**2)
    return ans

print(hyp(3,4))
print(hyp(12,13))
print(hyp(13,6))
print(hyp(16,12))

5.0
17.69180601295413
14.317821063276353
20.0

In [35]:
def abbr_generator(data):
    words = data.split(',')
    # print(words)
    abbreviations = []
    for word in words:
        clean_word = word.strip()
        abbr = ''
        for item in clean_word.split():
            #    print(item)
               abbr += item[0].upper()
        abbreviations.append(abbr)
    return abbreviations
abbr_generator('Alex Newman, Bruce Wayne, Robert Downey Jr, Samuel Jackson')

['AN', 'BW', 'RDJ', 'SJ']

In [38]:
def word_count(sentence):
    words = sentence.split()
    size = len(words)
    return size

word_count("i want to sleep")

4

In [40]:
word_count("to learn coding, first you have learn to look at  the screen")

12

# class and object

syntax

```
python
```

In [1]:
class Student:
    name = ""
    rollno = ""
    klass = "" 

    def show(self):
        print(self.name)
        print(self.rollno)
        print(self.klass)

# object creation

In [3]:
s1 = Student() #object creation using constructor
s1.name="ayushi"
s1.rollno='06'
s1.klass='6th'

s1.show()

ayushi
06
6th

class constructor 
```python

class classname:
    #constructor 
    def__init__(self, param1, param2, param3):
    self.prop1 = param1
    self.prop2 = param2
    self.propN = paramN
```

In [11]:
class Bus:
    
    def __init__(self, number, driver, type, manufacturer):
        self.number = number
        self.driver = driver
        self.bus_type = type
        self.manufacturer = manufacturer

    def info(self):
        print(f"bus number:{self.number}")
        print(f"bus driver:{self.driver}")
        print(f"bus type:{self.bus_type}")
        print(f"bus manufacturer:{self.manufacturer}")

In [12]:
b1 = Bus("UP32 AA 4859", "Prakash", "Non AC", "TATA")
b2 = Bus("UP32 AB 7578", "Rakesh", "AC","VOLVO")
b1.info()
b2.info()

bus number:UP32 AA 4859
bus driver:Prakash
bus type:Non AC
bus manufacturer:TATA
bus number:UP32 AB 7578
bus driver:Rakesh
bus type:AC
bus manufacturer:VOLVO

# inharitance

#### parent-> child

In [24]:
class Person:
    def __init__(self, name, gender):
        self.name = name
        self.gender = gender
    
    def show(self):
        print(f"{self.name} and {self.gender}")

In [25]:
class Engineer(Person):
    def __init__(self,name,gender,type):
        super().__init__(name,gender)
        self.type = type

In [27]:
e1 = Engineer('Raj','Male','Civil')
e1.show()
p1 = Person("arti","female")
p1.show()

Raj and Male
arti and female